@import '../../assets/scss/styles.scss';

.company-list-componant {
  .hero-layer {
    padding: 10px;
    z-index: 1;
    background-color: $main-color;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    .header-title {
      color: black;
      margin: 150px 10px 80px;
      font-size: 4rem;
      font-weight: 800;
    }
  }
}
